

# Ignore object files in cd and recursively:
obj/

# Ignore object files in cd and recursively:
./**/*.o


# Ignore emacs autosave files in cd and recursively:
./**/*~

# Ignore test binaries in cd and recursively:
./**/a.out


# Misc. files:
tulip
